<style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: Url("/Content/images/pageLoader.gif") 50% 50% no-repeat rgb(249,249,249);
        opacity: .8;
    }
</style>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <br />
        <div class="row">
            <!-- /.col (LEFT) -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordionOne">
                        <span class="glyphicon glyphicon-stats"></span> Bar Chart Reject Rate Casting ( in % )
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="Main Menu.!" href="javascript:void(0)" onclick="location.href='@Url.Action("index", "Dashboard")'"><span class="glyphicon glyphicon-th-list"></span></a>
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse" id="collapseOne">
                        <div class="panel-body">
                            <div id="barIBPCast">
                                <canvas id="chartRejCast" style="height:230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <!-- /.col (LEFT) -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordionTwo">
                        <span class="glyphicon glyphicon-stats"></span> Bar Chart Reject Rate Machining ( in % )
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="Main Menu.!" href="javascript:void(0)" onclick="location.href='@Url.Action("index", "Dashboard")'"><span class="glyphicon glyphicon-th-list"></span></a>
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse" id="collapseTwo">
                        <div class="panel-body">
                            <div id="barIBPMac">
                                <canvas id="chartRejMac" style="height:230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <!-- /.col (LEFT) -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordionThree">
                        <span class="glyphicon glyphicon-stats"></span> Bar Chart Customer Claim - CN
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="Main Menu.!" href="javascript:void(0)" onclick="location.href='@Url.Action("index", "Dashboard")'"><span class="glyphicon glyphicon-th-list"></span></a>
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse" id="collapseThree">
                        <div class="panel-body">
                            <div id="barIBPCN">
                                <canvas id="chartCN" style="height:230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="row">
            <!-- /.col (LEFT) -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordionFour">
                        <span class="glyphicon glyphicon-stats"></span> Bar Chart Safety - Index
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="Main Menu.!" href="javascript:void(0)" onclick="location.href='@Url.Action("index", "Dashboard")'"><span class="glyphicon glyphicon-th-list"></span></a>
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordionFour" href="#collapseFour">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse" id="collapseFour">
                        <div class="panel-body">
                            <div id="barIBPSafety">
                                <canvas id="chartSafetyIndex" style="height:230px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
<script>
    var urlKPI = "@Url.Content("~/Dashboard")";
    var dataA = [];
    var dataC = [];
    var dataR = [];
    var dataQ = [];
    var dataMc = [];
    var dataRc = [];
    var dataTN = [];
    var dataAN = [];
    var iYear;
    $(document).ready(function () {
        iYear = $.session.get("UserYear");
        showRejCast(iYear);
        showRejMac(iYear);
        showCN(iYear);
        showAccident(iYear);
    });

    function showRejCast(thn) {
        var chc = 8;
        $.getJSON(urlKPI + "/GraphTgt/", { year: thn, chc },
        function (json) {
            for (var i = 0; i < json.length; i++) {
                dataA = json.map(function (e) {
                    return e.amount;
                });
            }

            $.getJSON(urlKPI + "/GraphRejCastAct/", { year: thn },
            function (json) {
                for (var i = 0; i < json.length; i++) {
                    dataR = json.map(function (e) {
                        return e.amount;
                    });

                }

                var areaChartDataCast = {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                      {
                          label: 'Reject - Casting',
                          backgroundColor: "blue",
                          borderColor: "lightblue",
                          fill: false,
                          lineTension: 0,
                          data: dataR,
                      },

                      {
                          label: 'Target',
                          backgroundColor: "red",
                          borderColor: "red",
                          fill: false,
                          lineTension: 0,
                          data: dataA,
                      }
                    ]
                }

                var barChartCanvasCast = $('#chartRejCast').get(0).getContext('2d');
                var barChartCast = new Chart(barChartCanvasCast)
                var barChartDataCast = areaChartDataCast
                barChartDataCast.datasets[0].fillColor = '#00a65a'
                barChartDataCast.datasets[0].strokeColor = '#00a65a'
                barChartDataCast.datasets[0].pointColor = '#00a65a'
                var barChartOptionsCast = {
                    scaleLabel: "<%= formatNumber(value)  %>",
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: 'rgba(0,0,0,.05)',
                    scaleGridLineWidth: 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                    responsive: true,
                    maintainAspectRatio: true
                }

                barChartOptionsCast.datasetFill = true

                var barChartCast = new Chart(barChartCanvasCast, {
                    type: 'bar',
                    data: barChartDataCast,
                    options: barChartOptionsCast
                });

            });
        });
    }

    function showRejMac(thn) {
        var chc = 9;
        $.getJSON(urlKPI + "/GraphTgt/", { year: thn, chc },
        function (json) {
            for (var i = 0; i < json.length; i++) {
                dataMc = json.map(function (e) {
                    return e.amount;
                });
            }

            $.getJSON(urlKPI + "/GraphRejMachAct/", { year: thn },
            function (json) {
                for (var i = 0; i < json.length; i++) {
                    dataRc = json.map(function (e) {
                        return e.amount;
                    });

                }

                var areaChartDataMach = {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                      {
                          label: 'Reject - Machining',
                          backgroundColor: "blue",
                          borderColor: "lightblue",
                          fill: false,
                          lineTension: 0,
                          data: dataRc,
                      },

                      {
                          label: 'Target',
                          backgroundColor: "red",
                          borderColor: "red",
                          fill: false,
                          lineTension: 0,
                          data: dataMc,
                      }
                    ]
                }

                var barChartCanvasMach = $('#chartRejMac').get(0).getContext('2d');
                var barChartMach = new Chart(barChartCanvasMach)
                var barChartDataMach = areaChartDataMach
                barChartDataMach.datasets[0].fillColor = '#00a65a'
                barChartDataMach.datasets[0].strokeColor = '#00a65a'
                barChartDataMach.datasets[0].pointColor = '#00a65a'
                var barChartOptionsMach = {
                    scaleLabel: "<%= formatNumber(value)  %>",
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: 'rgba(0,0,0,.05)',
                    scaleGridLineWidth: 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                    responsive: true,
                    maintainAspectRatio: true
                }

                barChartOptionsMach.datasetFill = true

                var barChartMach = new Chart(barChartCanvasMach, {
                    type: 'bar',
                    data: barChartDataMach,
                    options: barChartOptionsMach
                });

            });
        });
    }

    function showCN(thn) {
        var chc = 10;
        $.getJSON(urlKPI + "/GraphTgt/", { year: thn, chc },
        function (json) {
            for (var i = 0; i < json.length; i++) {
                dataTN = json.map(function (e) {
                    return e.amount;
                });
            }

            $.getJSON(urlKPI + "/GraphCNAct/", { year: thn },
            function (json) {
                for (var i = 0; i < json.length; i++) {
                    dataAN = json.map(function (e) {
                        return e.amount;
                    });

                }

                var areaChartDataCN = {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                      {
                          label: 'Customer Claim - CN',
                          backgroundColor: "blue",
                          borderColor: "lightblue",
                          fill: false,
                          lineTension: 0,
                          data: dataAN,
                      },

                      {
                          label: 'Target',
                          backgroundColor: "red",
                          borderColor: "red",
                          fill: false,
                          lineTension: 0,
                          data: dataTN,
                      }
                    ]
                }

                var barChartCanvasCN = $('#chartCN').get(0).getContext('2d');
                var barChartCN = new Chart(barChartCanvasCN)
                var barChartDataCN = areaChartDataCN
                barChartDataCN.datasets[0].fillColor = '#00a65a'
                barChartDataCN.datasets[0].strokeColor = '#00a65a'
                barChartDataCN.datasets[0].pointColor = '#00a65a'
                var barChartOptionsCN = {
                    scaleLabel: "<%= formatNumber(value)  %>",
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: 'rgba(0,0,0,.05)',
                    scaleGridLineWidth: 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                    responsive: true,
                    maintainAspectRatio: true
                }

                barChartOptionsCN.datasetFill = true

                var barChartCN = new Chart(barChartCanvasCN, {
                    type: 'bar',
                    data: barChartDataCN,
                    options: barChartOptionsCN
                });

            });
        });
    }


    function showAccident(thn) {
        var chc = 11;
        $.getJSON(urlKPI + "/GraphTgt2/", { year: thn, chc },
        function (json) {
            for (var i = 0; i < json.length; i++) {
                dataC = json.map(function (e) {
                    return e.amount;
                });
            }

            $.getJSON(urlKPI + "/GraphSafetyAct/", { year: thn },
            function (json) {
                for (var i = 0; i < json.length; i++) {
                    dataQ = json.map(function (e) {
                        return e.amount;
                    });

            }

                var areaChartData = {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    datasets: [
                      {
                          label: 'Safety - Index',
                          backgroundColor: "blue",
                          borderColor: "lightblue",
                          fill: false,
                          lineTension: 0,
                          data: dataQ,
                      },

                      {
                          label: 'Target',
                          backgroundColor: "red",
                          borderColor: "red",
                          fill: false,
                          lineTension: 0,
                          data: dataC,
                      }
                    ]
                }

                var barChartCanvas = $('#chartSafetyIndex').get(0).getContext('2d');
                var barChart = new Chart(barChartCanvas)
                var barChartData = areaChartData
                barChartData.datasets[0].fillColor = '#00a65a'
                barChartData.datasets[0].strokeColor = '#00a65a'
                barChartData.datasets[0].pointColor = '#00a65a'
                var barChartOptions = {
                    scaleLabel: "<%= formatNumber(value)  %>",
                    scaleBeginAtZero: true,
                    scaleShowGridLines: true,
                    scaleGridLineColor: 'rgba(0,0,0,.05)',
                    scaleGridLineWidth: 1,
                    scaleShowHorizontalLines: true,
                    scaleShowVerticalLines: true,
                    barShowStroke: true,
                    barStrokeWidth: 2,
                    barValueSpacing: 5,
                    barDatasetSpacing: 1,
                    legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                    responsive: true,
                    maintainAspectRatio: true
                }

                barChartOptions.datasetFill = true

                var barChart = new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                });

             });
        });
    }



</script>